* {
    font-family: "Adwaita Sans Mono", monospace;
    margin: 0;
}
header {
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 1em;
    padding: 2px;
}

body {
    text-align: center;
    background-color: white;
}

.Categoria {
    color: black;
    margin: auto;
    width: 20rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0em;
}

.Carta {
    width: 10rem;
    color: black;
    padding: 0.5em 0em;
    margin: 1em auto;
}

.Carta:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

a {
    color: inherit;
    word-wrap: break-word;
}
