/* Listado de colores
 *  #FFFFFF
 *  #000000
 *  #BD3B1F -   Rojizo
 *  #D2BF94 -   Beige accent principal
 *  #F5E9CD -   Semi beige y blanco
 *  #E2B147 -   Amarillo ocre
 *  #CC7E00 -   Anaranjado oscurecido
*/

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#contenedor{
    margin: 5px;
    padding: 5px;
    display: flex;
}

#tabla{
    background-color: #d6e7ff;
    border: 2px solid lightblue;
    margin-right: 10px;
    padding: 5px;
}

#fixture{
    width: 100%;
    background-color: #d6e7ff;
    border: 2px solid lightblue;
    float: right;
}

#opciones{
    background-color: #d6e7ff;
    border: 2px solid lightblue;
    margin: 10px ;
    padding: 5px;
}

.numero{
    background-color: #9391fc;
    color: white;
    border-radius: 100%;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

#agregarParticipante{
    background-color: #6461e7;
    color: white;
    width: 100%;
    padding: 1em;
}

.botonEliminar:disabled{
    padding-left: 1em;
    padding-right: 1em;
}

.botonEliminar:enabled{
    background-color: red;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}

#botonGenerar, #botonExportar:enabled{
    background-color: #6461e7;
    color: white;
    padding: 1em;
    margin: 1em;
}

#botonExportar:disabled{
    padding: 1em;
}

.inputParticipante , .inputEquipo{
    padding: 2px;
}

fieldset {
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

hr{
    margin: 0px 10px 0px 10px;
    color: #172abe;
}

h1{
    top: 0;
    left: 0;
    color: white;
    background-color:#3584e4;
    padding: 10px;
    text-align: center;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    text-align: left;
    background-color:#3584e4;
    left: 0;
}

